.sidebar{
    position:fixed;
    background-color:rgb(233, 241, 236);
    height:100vh;
    width:300px;
    text-align:left;
    padding-top: 50px;
}

.sidebar li{
    padding:12px;
    cursor:pointer;
    transition:all 0.5s;
    letter-spacing:1px;
    display:flex;
    flex-direction:column;
}

.sidebar li:nth-child(1){
    padding:30px 0px;
}


.sidebar li:hover:nth-child(1){
    padding:30px 0px;
    background-color:transparent;
    color:#000;
}


.sidebar li span:nth-child(1){
    font-size:20px;
}

.sidebar li span:nth-child(2){
    font-size:10px;
}

.sidebar li:hover{
    background-color:#f2f2f2;
    padding:12px;
}