.sidebar{
    position:fixed;
    background-color:rgb(233, 241, 236);
    height:100vh;
    width:300px;
    text-align:left;
    padding-top: 50px;
}

.sidebar li{
    padding:12px;
    cursor:pointer;
    display:flex;
}

.sidebar li:hover{
    background-color:#f2f2f2;
    padding:12px;
}